@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "~normalize.css";
@import "header";
@import "main";
@import "footer";
@import "dropdown";
@import "overlay";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}

.material-icons {
    vertical-align: middle;
}

@media screen and (max-width: 1440px) {
    .header__search-form input {
        width: 400px;
    }
    .header__cart-button p {
        display: none;
    }
    .header__cart-button button {
        width: 45px;
    }
}

@media screen and (max-width: 1280px) {
    hr {
        display: none;
    }
    .header__search-form input {
        width: 300px;
    }
}