@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "~normalize.css";
@import "header";
@import "main";
@import "footer";
@import "dropdown";
@import "overlay";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}

.material-icons {
    vertical-align: middle;
}

@media screen and (max-width: 1440px) {
    .header__search-form input {
        width: 400px;
    }
    .header__cart-button p {
        display: none;
    }
    .header__cart-button button {
        width: 45px;
    }
}

@media screen and (max-width: 1280px) {
    body {
        margin-right: 5px;
        margin-left: 5px;
    }
    hr {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .header__info-left {
        display: none;
    }
    .header__info-right {
        margin: 0 auto;
    }
    .header__social-logo:nth-child(5) {
        margin-right: 0px;
    }
    .header__search-form input {
        width: 300px;
    }
    .header__logo {
        margin-left: 30px;
    }
    .header__cart-button {
        margin-right: 30px;
    }
    .header__product-nav {
        margin-top: 50px;
    }
    .header__product-nav-ul {
        align-items: center;
        // flex-wrap: wrap;
    }
    .header__product-nav-ul {
        overflow: auto;
        white-space: nowrap;
        & li {
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 968px) {
    .header__logo-mobile {
        display: flex;
        & img {
            width: 23px;
            margin-right: 10px;
        }
    }
    .header__logo-textmobile {
        display: flex
    }
    .header__logo {
        display: none;
    }
    .header__logo-text {
        display: none;
    }
    .header__cart-button p {
        display: block;
    }
    .header__cart-button button {
        width: 160px;
    }
    .header__social-logo:nth-child(7) {
        margin-right: 50px;
    }
}

@media screen and (max-width: 800px) {
    .main__article-right {
        margin-left: 5px;
    }
    .header__info-right p {
        display: none;
    }
    .header__logo-textmobile {
        display: flex !important
    }
}

@media screen and (max-width: 748px) {
    .header__search-form input {
        width: 250px;
    }
    .header__cart-button p {
        display: none;
    }
    .header__cart-button button {
        width: 45px;
    }
    .main__article {
        display: block;
        margin-bottom: 30px;
    }
    .main__article-left {
        margin: 0 auto;
    }
    .main__article-right {
        margin: 0 auto;
        width: 100%;
        max-width: 700px;
    }
    .footer__video {
        display: block;
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 578px) {
    .header__login-button p {
        display: none;
    }
    .header__login-button button {
        width: 50px;
    }
    .footer__video-mobile {
        display: block;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }
    .footer__video {
        display: none;
    }
}

@media screen and (max-width: 548px) {
    .header__add-logo {
        display: none;
    }
    .header__login-button img {
        margin-left: 5px;
    }
}

@media screen and (max-width: 464px) {
    .header__info {
        height: 65px;
    }
    .navBurger {
        top: 30px
    }
    .header__main {
        display: block;
    }
    .header__product-nav {
        margin-top: 25px;
    }
    .header__button-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
    }
    .header__search-form input {
        width: 90%;
        max-width: 350px;
    }
    .header__cart-button button {
        display: flex;
        width: 160px;
        cursor: pointer;
    }
    .header__cart-button p {
        display: block;
    }
    .header__login-button p {
        display: block;
    }
}

@media screen and (max-width: 360px) {
    .main__article-left {
        width: 95%;
        max-width: 330px;
    }
    .main__article-left h1 {
        text-align: center;
    }
}